*{
    margin: 0;
    padding: 0;
}
body{
    background: slategrey;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px auto;
    background-color: darkgrey;
}

.square {
    width: 90px;
    height: 90px;
    border: 10px solid black;
    font-size: 35px;
    text-align: center;
}

.square:hover {
    background-color: lightgrey;
    cursor: pointer;
}

